/*Especificidad: 001*/
/************************
  Abel Busto Dopazo - UO284262
Descripción de estilos
************************/

/*
li {
     display:inline;
     padding-left:3px;
     padding-right:3px;
     background-color:white;
}
*/


